<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="KrakenBaseAddress" value="https://api.kraken.com"/>
      <add key="KrakenApiVersion" value="0"/>
      <add key="KrakenKey" value=""/>
      <add key="KrakenSecret" value=""/>
      <add key="BCHTopLimit" value="3200"/>
      <add key="BCHBottomLimit" value="800"/>
</appSettings>
</configuration>

